# Solana RPC endpoint (devnet)
NEXT_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com

# Program addresses (devnet)
NEXT_PUBLIC_PROGRAM_ID=7DVf9oEMcKPV6VUUz5BpptbwqpgBfXunwxjTNNQmZvbJ
NEXT_PUBLIC_PROTOCOL_STATE=8cGem2Q8BrqYpvnwqscnGiKjoEZPXpyb8KziueJ24SiK
NEXT_PUBLIC_ORACLE_ACCOUNT=2euE9eMGTNwyW7jqG63JvRZfHeo7psKZgBCizfNMjW12
NEXT_PUBLIC_FEE_VAULT=GRFF44bR65tVUChnidAqZAgpFbg1Kw8GboWzUBQbW581
NEXT_PUBLIC_INSURANCE_FUND=9NmpMraE2XCSUa1gKgwi9zxN8LLdT4o5Uiis5dKkKs1F
NEXT_PUBLIC_USDC_MINT=Gj9gBxmesYoNa4kvZUKJbiF85PduMKnHnppp4ikbWUUi
